.mahancard {
  background: #fff;
  max-width: 36em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  max-width: 100%;
}
.outeruserpannel {
  background: linear-gradient(
    -45deg,
    #9970ceac,
    #bf8ffd92,
    #84a1f9ab,
    #e7eaf9c7
  );
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}
.userpannel {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.mahancard:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.mahancard img {
  width: 100%;
  object-fit: cover;
  min-height: 10em;
}
.parkingtitle {
  /* border-bottom: solid 2px grey; */

  margin-bottom: 10px;
}
.mahancard h2 {
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  /* font-weight: 500; */
  transition: all ease-in 100ms;
}

.mahancard p {
  color: #777;
}

.mahancard h5 {
  color: #bbb;
  /* font-weight: 700; */
  font-size: 0.7em;
  /* letter-spacing: 0.04em; */
  margin: 1.4em 0 0 0;
  /* text-transform: uppercase; */
}

.mahancard-body {
  padding: 1.2em;
}

.reserve-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #bd59d4;
  border-radius: 25px;

  font-family: 'iransans';
  font-size: 14px;
  color: #fff;
  /* line-height: 1.2; */
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.reserve-btn:hover {
  background-color: #4b2354;
  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.8);
}
@media only screen and (min-width: 768px) {
  .mahancard {
    max-width: 75%;
    margin: 0;
  }
}
