.MainDivGlobal {
  width: 100%;
  min-height: 150vh;
  min-width: 150vh;
  height: 100%;
  background: linear-gradient(
    -45deg,
    #9970ceac,
    #bf8ffd92,
    #84a1f9ab,
    #e7eaf9c7
  );
}
/* comment : use these classes for div which contains your input field  : "WarpInputGlobal validate-input mx-auto w-75 m-b-25" */
.WarpInputGlobal {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

/*comment :  use "InputGlobal" for your input classname */
.InputFieldGlobal {
  font-family: "iransans";
  font-size: 16px;
  color: #473e9d;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 0 20px 0 23px;
}

/*comment: use "containerButtonGlobal" for the class which contains button and use "ButtonGlobal" for the button classButtonGlobal*/
.ButtonGlobal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #695ce3;
  border-radius: 25px;

  font-family: "iransans";
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(110, 56, 196, 0.598);
  -moz-box-shadow: 0 10px 30px 0px rgba(110, 56, 196, 0.598);
  -webkit-box-shadow: 0 10px 30px 0px rgba(110, 56, 196, 0.598);
  -o-box-shadow: 0 10px 30px 0px rgba(110, 56, 196, 0.598);
  -ms-box-shadow: 0 10px 30px 0px rgba(110, 56, 196, 0.598);
}

.ButtonGlobal:hover {
  background-color: #3d348e;
  box-shadow: 0 10px 30px 0px rgba(89, 26, 191, 0.598);
  -moz-box-shadow: 0 10px 30px 0px rgba(89, 26, 191, 0.598);
  -webkit-box-shadow: 0 10px 30px 0px rgba(89, 26, 191, 0.598);
  -o-box-shadow: 0 10px 30px 0px rgba(89, 26, 191, 0.598);
  -ms-box-shadow: 0 10px 30px 0px rgba(89, 26, 191, 0.598);
}
.containerButtonGlobal {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
