/* .container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img,
button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  background: #fef289;
  color: #000;
} */
.MainDiv {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/backMain.png);
  /* background-image: url(../images/avatar.gif); */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.FormDiv {
  background-color: black;
  width: 500px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 50px;
  position: relative;
  box-shadow: 20px 20px 20px 20px rgba(109, 96, 96, 0.1);
}

/* img,
  button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
  } */

#sbt-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #bd59d4;
  border-radius: 25px;

  font-family: 'iransans';
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
}

.flex-container {
  display: flex;
}

.InfoTitle {
  justify-content: left;
  align-items: left;
  font-family: 'iransans';
  font-size: 30px;
  color: black;
  flex-grow: 1;
}
.image {
  position: relative;
  top: 0px;
  right: 10px;
  flex-grow: 2;
  text-justify: auto;
}
.image img {
  vertical-align: top;
}
.NameTitle {
  font-family: 'iransans';
  font-size: 18px;
}
.submit-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 160px;
  height: 50px;
  background-color: black;
  border-radius: 25px;

  font-family: 'iransans';
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  /* box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(189, 89, 212, 0.5); */
}
